body{
    background-color: white;
}

#show_sketch
{
    float:right;
}
canvas{
    border:5px solid grey;
    border-radius: 20px;
    animation-name:cores ;
    animation-duration:4s;
    margin-top: 50px;
    animation-iteration-count:infinite
}
@keyframes cores {
    from {box-shadow:1px 1px 38px red}
    to {box-shadow:1px 1px 38px green}
}
p{
    padding-top: 10px;
    font-size: 25px;
}